body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(images/pizza.png.jpg); /* Background image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
  }
  
  .login h2 {
    text-align: center;
  }
  
  .login input[type="email"],
  .login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 10px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .login button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login button:hover {
    background-color: #45a049;
  }
 



